@model Formeo.Models._IndexAdminViewModel

@{
    ViewBag.Title = "Home Page";
}
<div class="row" ng-controller="adminPageController" ng-cloak>

    <div ng-init="customers = @Model.CustomersJSON" />
    <div ng-init="producers = @Model.ProducersJSON" />

    <p class="text-right"> Number of stored products </p>
    <div class="col-md-4">
        <div class="navigation">
            <div class="row">
                <div class="sidebar">
                    <ol class="sidebar-menu">
                        <li>
                            <button type="button" class="btn btn-default text-center btn-sidebar-menu" ng-click="selectMainMenu('/Clients')" ng-class="{'btn-menu-selected': isActiveMainMenu('/Clients')}">
                                <i class="fa fa-users fa-2x" style="color:white"></i>
                                <br>Clients
                            </button>
                        </li>
                        <li>
                            <button type="button" class="btn btn-default text-center btn-sidebar-menu" ng-click="selectMainMenu('/Storage')" ng-class="{'btn-menu-selected': isActiveMainMenu('/Storage')}">
                                <i class="fa fa-cloud fa-2x" style="color:white"></i>
                                <br>Storage
                            </button>
                        </li>
                        <li>
                            <button type="button" disabled class="btn btn-default text-center btn-sidebar-menu" ng-click="selectMainMenu('/Orders')" ng-class="{'btn-menu-selected': isActiveMainMenu('/Orders')}">
                                <i class="fa fa-shopping-cart fa-2x" style="color:white"></i>
                                <br>Orders
                            </button>
                        </li>
                        <li>
                            <button type="button" disabled class="btn btn-default text-center btn-sidebar-menu" ng-click="selectMainMenu('/Stats')" ng-class="{'btn-menu-selected': isActiveMainMenu('/Stats')}">
                                <i class="fa fa-bar-chart fa-2x" style="color:white"></i>
                                <br>Stats
                            </button>
                        </li>
                        <li>
                            <button type="button" disabled class="btn btn-default text-center btn-sidebar-menu" ng-click="selectMainMenu('/Settings')" ng-class="{'btn-menu-selected': isActiveMainMenu('/Settings')}">
                                <i class="fa fa-cog fa-2x" style="color:white"></i>
                                <br>Settings
                            </button>
                        </li>
                        <li>
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn btn-default text-center btn-sidebar-menu">
                                    <i class="fa fa-sign-out fa-2x" style="color:white"></i>
                                    <br>Logout
                                </button>
                            }
                        </li>
                    </ol>
                </div>
                <div class="sidebar-menu-content">
                    <div class="row" ng-show="isActiveMainMenu('/Clients')">
                        @Html.Partial("Partial/Sections/_clients")
                    </div>
                    <div class="row" ng-show="isActiveMainMenu('/Storage')">
                        @Html.Partial("Partial/Sections/_storage")
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">   
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search user">
            <span class="input-group-btn">
                <button class="btn btn-dark" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div>

        <br />
        <div class="row custom-greed">
            <div ng-show="isActiveMainMenu('/Clients')" class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-10">
                            <h4>Customer Users</h4>
                        </div>
                        <div class="col-md-2 line-height">
                            <i class="fa fa-plus left"></i>
                        </div>
                    </div>
                    <div class="row head">
                        <div class="col-md-3">UserName</div>
                        <div class="col-md-3">Company Name</div>
                        <div class="col-md-3">Storage Quantity</div>
                        <div class="col-md-3">Actions</div>
                    </div>
                    <div class="row data-row">

                        <div ng-repeat="user in customers" ng-click="selectUser(user)">
                            <div class="col-md-3">{{user.UserName}}</div>
                            <div class="col-md-3">{{user.Company}} </div>
                            <div class="col-md-3">300</div>

                            <div class="col-md-3 actions">
                                <i class="fa fa-stack-exchange"></i>
                                <i class="fa fa-cog"></i>
                                <i class="fa fa-times-circle"></i>
                            </div>
                        </div>

                        @*@{
                            foreach (var user in Model.Customers)
                            {
                                <div class="col-md-3">@user.UserName</div>
                                <div class="col-md-3">@(user.Company == null ? "No Company" : user.Company.Name)</div>
                                <div class="col-md-3">300</div>

                                <div class="col-md-3 actions">
                                    <i class="fa fa-stack-exchange"></i>
                                    <i class="fa fa-cog"></i>
                                    <i class="fa fa-times-circle"></i>
                                </div>
                            }
                        }*@
                    </div>

                </div>
            </div>

            <div ng-show="isActiveMainMenu('/Clients')" class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <br/>
                    </div>
                </div>
            </div>

            <div ng-show="isActiveMainMenu('/Clients')" class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-10">
                            <h4>Production Users</h4>
                        </div>
                        <div class="col-md-2 line-height">
                            <i class="fa fa-plus left"></i>
                        </div>
                    </div>
                    <div class="row head">
                        <div class="col-md-3">UserName.</div>
                        <div class="col-md-3">Company Name</div>
                        <div class="col-md-3">Storage Quantity</div>
                        <div class="col-md-3">Actions</div>
                    </div>

                    <div ng-repeat="user in producers" ng-click="selectUser(user)">
                        <div class="col-md-3">{{user.UserName}}</div>
                        <div class="col-md-3">{{user.Company}} </div>
                        <div class="col-md-3">300</div>

                        <div class="col-md-3 actions">
                            <i class="fa fa-stack-exchange"></i>
                            <i class="fa fa-cog"></i>
                            <i class="fa fa-times-circle"></i>
                        </div>
                    </div>

                   @*@{
                        foreach (var user in Model.Producers)
                        {
                            <div class="col-md-3">@user.UserName</div>
                            <div class="col-md-3">@(user.Company == null ? "No Company" : user.Company.Name)</div>
                            <div class="col-md-3">200</div>

                            <div class="col-md-3 actions">
                                <i class="fa fa-stack-exchange"></i>
                                <i class="fa fa-cog"></i>
                                <i class="fa fa-times-circle"></i>
                            </div>
                        }
                    }*@
                </div>
            </div>
        </div>
    </div>
</div>