@model Formeo.Models._IndexProducerViewModel
@{
    ViewBag.Title = "Home Page";
}
<div class="row" id="indexProducer" ng-controller="producerPageController" ng-cloak>
    <p class="text-right"> Number of stored products </p>
    <div class="col-md-4">
        <div class="navigation">
            <div class="row">
                <div class="sidebar">
                    <ol class="sidebar-menu">
                        <li>
                            <button type="button" class="btn btn-default text-center btn-sidebar-menu" ng-click="selectMainMenu('/Dashboard')" ng-class="{'btn-menu-selected': isActiveMainMenu('/Dashboard')}">
                                <i class="fa fa-home fa-2x" style="color:white"></i>
                                <br>Dashboard
                            </button>
                        </li>
                        <li>
                            <button type="button" class="btn btn-default text-center btn-sidebar-menu" ng-click="selectMainMenu('/Storage')" ng-class="{'btn-menu-selected': isActiveMainMenu('/Storage')}">
                                <i class="fa fa-cloud fa-2x" style="color:white"></i>
                                <br>Storage
                            </button>
                        </li>
                        <li>
                            <button type="button" class="btn btn-default text-center btn-sidebar-menu" ng-click="selectMainMenu('/Orders')" ng-class="{'btn-menu-selected': isActiveMainMenu('/Orders')}">
                                <i class="fa fa-shopping-cart fa-2x" style="color: white"></i>
                                <br>Orders
                            </button>
                        </li>
                        <li>
                            <button type="button" disabled class="btn btn-default text-center btn-sidebar-menu" ng-click="selectMainMenu('/Stats')" ng-class="{'btn-menu-selected': isActiveMainMenu('/Stats')}">
                                <i class="fa fa-bar-chart fa-2x" style="color:white"></i>
                                <br>Stats
                            </button>
                        </li>
                        <li>
                            <button type="button" disabled class="btn btn-default text-center btn-sidebar-menu" ng-click="selectMainMenu('/Settings')" ng-class="{'btn-menu-selected': isActiveMainMenu('/Settings')}">
                                <i class="fa fa-cog fa-2x" style="color:white"></i>
                                <br>Settings
                            </button>
                        </li>
                        <li>
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn btn-default text-center btn-sidebar-menu">
                                    <i class="fa fa-sign-out fa-2x" style="color:white"></i>
                                    <br>Logout
                                </button>
                            }
                        </li>
                    </ol>
                </div>
                <div class="sidebar-menu-content">
                    <div class="row" ng-show="isActiveMainMenu('/Dashboard')">
                        @Html.Partial("Partial/Sections/_dashboard")
                    </div>
                    <div class="row" ng-show="isActiveMainMenu('/Storage')">
                        @Html.Partial("Partial/Sections/_storage")
                    </div>
                    <div class="row" ng-show="isActiveMainMenu('/Orders')">
                        @Html.Partial("Partial/Sections/_orders")
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">

        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search user">
            <span class="input-group-btn">
                <button class="btn btn-dark" type="button"><i class="fa fa-search"></i></button>
            </span>

            <button type="button" class="btn btn-success" style="margin-left:50px" ng-disabled="layOrderButtonIsDisabled" ng-click="showBidProductModal(selectedPrintObjectToBidId)">
                <i class="fa fa-money"></i> Bid product
            </button>
        </div>

        <br />
        <div class="row custom-greed">

            <div ng-init="needBidPrintObjects = @Model.Dashboard_BidRequestedPrintObjects"></div>
            <div ng-init="deliveredPrintObjects = @Model.Dashboard_PrintObjectsDelivered"></div>


            <div ng-show="isActiveMainMenu('/Dashboard')" class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-10">
                            <h4>New orders Registered</h4>
                        </div>
                        <div class="col-md-2 line-height">
                            <i class="fa fa-plus right"></i>
                        </div>
                    </div>
                    <div class="row head">
                        <div class="col-md-4">Product Name</div>
                        <div class="col-md-4">Company</div>
                        <div class="col-md-2">Bid Item</div>
                        <div class="col-md-2">Actions</div>
                    </div>

                    <div ng-repeat="needBidPrintObject in needBidPrintObjects">
                        <div class="row data-row">
                            <div class="col-md-4">{{needBidPrintObject.Name}}</div>
                            <div class="col-md-4">{{needBidPrintObject.CompanyName}}</div>
                            <div class="col-md-2">
                                <input type="checkbox" ng-model="needBidPrintObject.IsSelected" ng-click="selectSingleItem($index,needBidPrintObjects)" />
                            </div>
                            <div class="col-md-2 actions">
                                <i class="fa fa-stack-exchange"></i>
                                <i class="fa fa-photo"></i>
                                <i class="fa fa-download"></i>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-10">
                            <h4>Delivered orders</h4>
                        </div>
                        <div class="col-md-2 line-height">
                            <i class="fa fa-plus right"></i>
                        </div>
                    </div>
                    <div class="row head">
                        <div class="col-md-3">Order Name</div>
                        <div class="col-md-3">Quantity</div>
                        <div class="col-md-1"></div>
                        <div class="col-md-2">Actions</div>
                    </div>

                    <div ng-repeat="comletedOrder in deliveredPrintObjects">
                        <div class="row data-row">
                            <div class="col-md-3">{{comletedOrder.Name}}</div>
                            <div class="col-md-3">{{comletedOrder.Quantity}}</div>
                            <div class="col-md-1"></div>
                            <div class="col-md-2 actions">
                                <i class="fa fa-stack-exchange"></i>
                                <i class="fa fa-photo"></i>
                                <i class="fa fa-download"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </div> @*Dashboard*@

            <div ng-show="isActiveMainMenu('/Storage')">

                <div ng-init="printObjects = @Model.Storage_PrintObjects" />

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-10">
                                <h4>Results</h4>
                            </div>
                            <div class="col-md-2 line-height">
                                <i class="fa fa-plus right"></i>
                            </div>
                        </div>
                        <div class="row head">
                            <div class="col-md-1"></div>
                            <div class="col-md-2">Art.No.</div>
                            <div class="col-md-3">Product Name</div>
                            @*<div class="col-md-2">Select bid</div>
                                <div class="col-md-2">Demand Bids</div>*@
                            <div class="col-md-2">Actions</div>
                        </div>

                        <div ng-repeat="printObject in printObjects">
                            <div class="row data-row">
                                <div class="col-md-1">
                                    <input type="checkbox" ng-checked="printObjectIsSelected(printObject.Id)" ng-click="addOrRemovePrintobject(printObject.Id)" />
                                </div>
                                <div class="col-md-2">
                                    {{printObject.ArtNo}}
                                </div>
                                <div class="col-md-3">
                                    {{printObject.Name}}
                                </div>
                                @*<div class="col-md-2">
                                        <a ng-show="printObject.HasBids">
                                            <i class="fa fa-usd" ng-click="ShowBidsForPrintObject(printObject.Id)"></i>
                                        </a>
                                    </div>
                                    <div class="col-md-2">
                                        <a href="#" ng-click="toogleIsNeedBid(printObject);">
                                            <i class=" fa fa-square-o" ng-show="!printObject.IsNeedBid"></i>
                                            <i class="fa fa-check-square-o" ng-show="printObject.IsNeedBid"></i>
                                        </a>
                                    </div>*@
                                <div class="col-md-2 actions">
                                    <i class="fa fa-stack-exchange"></i>
                                    <i class="fa fa-photo"></i>
                                    <i class="fa fa-download"></i>
                                </div>
                            </div>
                            <div class="row data-row" ng-show="pr">
                                <div class="col-md-1"></div>
                                <div class="col-md-2"></div>
                                <div class="col-md-3">{{}}</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-2"></div>
                                <div class="col-md-2 actions"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
