<div class="row">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default text-center btn-sidebar-menu" ng-click="selectClientMenu('/AddUser')" ng-class="{'btn-menu-selected': isActiveCLientsMenu('/AddUser')}">
            <i class="fa fa-user fa-2x"></i>
            <i class="fa fa-plus"></i>
            <br>Add user
        </button>
        <button type="button" disabled class="btn btn-default text-center btn-sidebar-menu" ng-click="selectClientMenu('/GetInfo')" ng-class="{'btn-menu-selected': isActiveCLientsMenu('/GetInfo')}">
            <i class="fa fa-file-text fa-2x"></i>
            <br>Get info
        </button>
        <button type="button" class="btn btn-default text-center btn-sidebar-menu" ng-click="selectClientMenu('/ManageUser')" ng-class="{'btn-menu-selected': isActiveCLientsMenu('/ManageUser')}">
            <i class="fa fa-user fa-2x"></i>
            <i class="fa fa-cog" ng-class="{'fa-spin': isActiveCLientsMenu('/ManageUser')}"></i>
            <br>Manage user
        </button>
    </div>
</div>

<div class="row">
    <div class="container">

        @*@using (Html.BeginForm("AddUser", "Account"))
        {
            @:<div class="padding30px">
                @:<div class="row form-group-margin">
                    @Html.LabelFor(user => user.UserName, new { placeholder = "Username", @class = "form-control login-textbox textbox-menu" });
            <input type="text" ng-model="userModel.username" placeholder="Username" autofocus class="form-control login-textbox textbox-menu" />
            <input type="text" ng-model="userModel.password" placeholder="Password" autofocus class="form-control login-textbox textbox-menu" />
            <input type="text" ng-model="userModel.email" placeholder="Email" autofocus class="form-control login-textbox textbox-menu" />
            
        @:</div>
            }*@

        <div ng-show="isActiveCLientsMenu('/AddUser')">
            @using (Html.BeginForm("RegisterFormeo", "Account", FormMethod.Post))
            { 
                @Html.AntiForgeryToken()
                <div class="padding30px">
                    <div class="row form-group-margin">
                        <input type="text" ng-model="userModel.username" name="UserName" id="UserName" placeholder="Username" autofocus class="form-control login-textbox textbox-menu" />
                        <input type="password" ng-model="userModel.password" name="Password" id="Password" placeholder="Password" autofocus class="form-control login-textbox textbox-menu" />
                        <input type="text" ng-model="userModel.email" name="Email" id="Email" placeholder="Email" autofocus class="form-control login-textbox textbox-menu" />
                    </div>
                    <div class="row form-group-margin">
                        <input type="text" ng-model="userModel.address" name="address" id=" address" placeholder="Address" autofocus class="form-control login-textbox textbox-menu" />
                        <input type="text" ng-model="userModel.postal" name="Postal" id="Postal" placeholder="Postal" autofocus class="form-control login-textbox textbox-menu" />
                        <input type="text" ng-model="userModel.city" name="City" id="City" placeholder="City" autofocus class="form-control login-textbox textbox-menu" />
                        <input type="text" ng-model="userModel.country" name="Country" id="Country" placeholder="Country" autofocus class="form-control login-textbox textbox-menu" />
                    </div>
                    <div class="row form-group-margin">
                        <div class="left">
                            <div class="form-group">
                                <label for="isProduction" style="font-size: medium">Production</label>
                                <input class="pointer" name="SelectedRole" id="SelectedRole" ng-model="userModel.isProduction" type="radio" value="@Formeo.Models.StaticData.RoleNames.Producer">
                                
                            </div>
                            <div class="form-group">
                                <label for="isCustomer" style="font-size: medium">Customer</label>
                                <input class="pointer" name="SelectedRole" id="SelectedRole" ng-model="userModel.isCustomer" type="radio" value="@Formeo.Models.StaticData.RoleNames.Customer">
                                
                            </div>
                            <div class="form-group">
                                <label for="isAdmin" style="font-size: medium">Admin</label>
                                <input class="pointer" name="SelectedRole" id="SelectedRole" ng-model="userModel.isAdmin" type="radio" value="@Formeo.Models.StaticData.RoleNames.Admin">
                            </div>
                        </div>
                        <div class="right">
                            <button type="submit" class="btn btn-default text-center btn-upload-product" style="height: 70px; width: 70px;">
                                Add
                            </button>
                        </div>
                    </div>
                </div>
    }
        </div>
        <form role="form" ng-show="isActiveCLientsMenu('/ManageUser')">
            <div class="padding30px">
                <div class="row form-group-margin">
                    <div class="row editable-field">
                        <div class="edit-value-holder">
                            {{selectedUser === EMPTY ? "&#60; User Name &#62;" : selectedUser.UserName}}
                        </div>
                        <div class="edit-link-holder">
                            <a class="btn-edit-link" href="#">Change</a>
                        </div>
                    </div>

                    <div class="row editable-field">
                        <div class="edit-value-holder">
                            &#60; Password &#62;
                        </div>
                        <div class="edit-link-holder">
                            <a class="btn-edit-link" href="#">Change</a>
                        </div>
                    </div>

                    <div class="row editable-field">
                        <div class="edit-value-holder">
                            {{selectedUser === EMPTY ? "&#60; Email &#62;" : selectedUser.Email}}
                        </div>
                        <div class="edit-link-holder">
                            <a class="btn-edit-link" href="#">Change</a>
                        </div>
                    </div>
                </div>

                <div class="row form-group-margin">
                    <div class="row editable-field">
                        <div class="edit-value-holder">
                            {{selectedUser === EMPTY ? "&#60;Address&#62;" : selectedUser.Address}}
                        </div>
                        <div class="edit-link-holder">
                            <a class="btn-edit-link" href="#">Change</a>
                        </div>
                    </div>

                    <div class="row editable-field">
                        <div class="edit-value-holder">
                            {{selectedUser === EMPTY ? "&#60;Postal&#62;" : selectedUser.Postal}}
                        </div>
                        <div class="edit-link-holder">
                            <a class="btn-edit-link" href="#">Change</a>
                        </div>
                    </div>

                    <div class="row editable-field">
                        <div class="edit-value-holder">
                            {{selectedUser === EMPTY ? "&#60;City&#62;" : selectedUser.City}}
                        </div>
                        <div class="edit-link-holder">
                            <a class="btn-edit-link" href="#">Change</a>
                        </div>
                    </div>

                    <div class="row editable-field">
                        <div class="edit-value-holder">
                            {{selectedUser === EMPTY ? "&#60;Country&#62;" : selectedUser.Country}}
                        </div>
                        <div class="edit-link-holder">
                            <a class="btn-edit-link" href="#">Change</a>
                        </div>
                    </div>
                </div>

                <div class="row form-group-margin">

                    <div class="left">
                        <div class="form-group">
                            <label for="isProduction" style="font-size: medium" ng-class="{checked: selectedUser.IsProducer == true}">
                                Production
                                <input class="pointer" name="roleRadio" ng-model="selectedUser.IsProducer" value="true" type="radio">
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="isCustomer" style="font-size: medium">Customer</label>
                            <input class="pointer" name="roleRadio" ng-class="{checked: selectedUser.IsCustomer}" type="radio" readonly="readonly">
                        </div>
                        <div class="form-group">
                            <label for="isAdmin" style="font-size: medium">Admin</label>
                            <input class="pointer" name="roleRadio" ng-class="{checked: selectedUser.IsAdmin}" type="radio" readonly="readonly">
                    </div>
                </div>
            </div>
                </div>
</form>
    </div>
    </div>

