<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-sanitize.js"></script>
<script src="~/Scripts/select.js"></script>
<link rel="stylesheet" href="~/Content/select.css">
<link rel="stylesheet" href="~/Content/select2.css">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">
<link rel="stylesheet" href="~/Content/Site.css">

<div class="row">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default text-center btn-sidebar-menu" ng-click="selectClientMenu('/AddUser')" ng-class="{'btn-menu-selected': isActiveCLientsMenu('/AddUser')}">
            <i class="fa fa-user fa-2x"></i>
            <i class="fa fa-plus"></i>
            <br>Add user
        </button>
        <button type="button" class="btn btn-default text-center btn-sidebar-menu" ng-click="selectClientMenu('/ManageUser')" ng-class="{'btn-menu-selected': isActiveCLientsMenu('/ManageUser')}">
            <i class="fa fa-user fa-2x"></i>
            <i class="fa fa-cog" ng-class="{'fa-spin': isActiveCLientsMenu('/ManageUser')}"></i>
            <br>Manage user
        </button>
        <button type="button" disabled class="btn btn-default text-center btn-sidebar-menu" ng-click="selectClientMenu('/GetInfo')" ng-class="{'btn-menu-selected': isActiveCLientsMenu('/GetInfo')}">
            <i class="fa fa-file-text fa-2x"></i>
            <br>Get info
        </button>
    </div>
</div>


<div class="row">
    <div class="container">
        <div ng-show="isActiveCLientsMenu('/AddUser')">
            @using( Html.BeginForm( "RegisterFormeo", "Account", FormMethod.Post ) ) {
                @Html.AntiForgeryToken()
                <div class="padding30px">
                    <div class="row form-group-margin">
                        <input type="text" ng-model="userModel.username" name="UserName" id="UserName" placeholder="Username" autofocus class="form-control login-textbox textbox-menu" />
                        <input type="password" ng-model="userModel.password" name="Password" id="Password" placeholder="Password" autofocus class="form-control login-textbox textbox-menu" />
                        <input type="text" ng-model="userModel.email" name="Email" id="Email" placeholder="Email" autofocus class="form-control login-textbox textbox-menu" />
                    </div>
                    <div class="row">
                        <input type="text" ng-model="userModel.address" name="address" id=" address" placeholder="Address" autofocus class="form-control login-textbox textbox-menu" />
                        <input type="text" ng-model="userModel.postal" name="Postal" id="Postal" placeholder="Postal" autofocus class="form-control login-textbox textbox-menu" />
                        <input type="text" ng-model="userModel.city" name="City" id="City" placeholder="City" autofocus class="form-control login-textbox textbox-menu" />
                        <input type="text" ng-model="userModel.country" name="Country" id="Country" placeholder="Country" autofocus class="form-control login-textbox textbox-menu" />
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row left">
                                <input style="margin-left: 25px;" class="pointer" name="SelectedRole" id="SelectedRole" ng-model="userModel.selectedRole" type="radio" ng-value="'@Formeo.Models.StaticData.RoleNames.Producer'" ng-checked="userModel.selectedRole=='@Formeo.Models.StaticData.RoleNames.Producer'">
                            </div>
                            <div class="row left">
                                <label for="isProduction" style="font-size: medium">Producer</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row left">
                                <input style="margin-left: 25px;" class="pointer" name="SelectedRole" ng-model="userModel.selectedRole" type="radio" ng-value="'@Formeo.Models.StaticData.RoleNames.Customer'">
                            </div>
                            <div class="row center">
                                <label for="isCustomer" style="font-size: medium">Customer</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row left">
                                <input style="margin-left: 30px;" class="pointer" name="SelectedRole" ng-model="userModel.selectedRole" type="radio" ng-value="'@Formeo.Models.StaticData.RoleNames.Admin'">
                            </div>
                            <div class="row right">
                                <label for="isAdmin" style="font-size: medium">Admin</label>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:15px">
                            <ui-select ng-model="userModel.companyId" theme="select2" style="width: 218px; border-radius:0px;">
                                <ui-select-match placeholder="Select a company from list">{{$select.selected.companyName}}</ui-select-match>
                                <ui-select-choices repeat="company in companies | propsFilter: {companyName: $select.search}">
                                    <div ng-bind-html="company.companyName | highlight: $select.search"></div>
                                    <small>
                                        Org Number: {{company.orgNumber}}
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-default text-center btn-upload-product btn-block" ng-click="addUser()">
                            Add
                        </button>
                    </div>
                </div>
            }
        </div>
        <form role="form" ng-show="isActiveCLientsMenu('/ManageUser')">
            <div class="padding30px">
                <div class="row form-group-margin">
                    <div class="row editable-field">
                        <div class="edit-value-holder">
                            {{selectedUser === EMPTY ? "&#60; User Name &#62;" : selectedUser.UserName}}
                        </div>
                    </div>

                    <div ng-init="isShowEditEmail = false"></div>
                    <div ng-init="isShowEditAddress = false"></div>
                    <div ng-init="isShowEditPostal = false"></div>
                    <div ng-init="isShowEditCity = false"></div>
                    <div ng-init="isShowEditCountry = false"></div>

                    <div class="row editable-field">
                        <div class="edit-value-holder" ng-show="!isShowEditEmail || selectedUser==EMPTY" ng-click="selectedUser===EMPTY ? isShowEditEmail = false : isShowEditEmail=true;">
                            {{selectedUser === EMPTY ? "&#60; Email &#62;" : selectedUser.Email}}
                        </div>
                        <div class="edit-value-holder " ng-show="isShowEditEmail && !selectedUser==EMPTY">
                            <input type="text" class="form-control textbox-menu" ng-model="selectedUser.Email" />
                        </div>

                        <div class="edit-link-holder">
                            <a class="btn-edit-link" href="#" ng-click="updateUserInfo(isShowEditEmail, selectedUser, 'email', selectedUser.Email); isShowEditEmail=false">Change</a>
                        </div>
                    </div>
                </div>

                <div class="row form-group-margin">
                    <div class="row editable-field">
                        <div class="edit-value-holder" ng-show="!isShowEditAddress || selectedUser==EMPTY" ng-click="selectedUser===EMPTY ? isShowEditAddress = false : isShowEditAddress=true;">
                            {{selectedUser === EMPTY ? "&#60;Address&#62;" : selectedUser.Address}}
                        </div>
                        <div class="edit-value-holder " ng-show="isShowEditAddress && !selectedUser==EMPTY">
                            <input type="text" class="form-control textbox-menu" ng-model="selectedUser.Address" />
                        </div>

                        <div class="edit-link-holder">
                            <a class="btn-edit-link" href="#" ng-click="updateUserInfo(isShowEditAddress, selectedUser, 'address', selectedUser.Address); isShowEditAddress=false">Change</a>
                        </div>
                    </div>


                    <div class="row form-group-margin">
                        <div class="row editable-field">
                            <div class="edit-value-holder" ng-show="!isShowEditPostal || selectedUser==EMPTY" ng-click="selectedUser===EMPTY ? isShowEditPostal = false : isShowEditPostal=true;">
                                {{selectedUser === EMPTY ? "&#60;Postal&#62;" : selectedUser.Postal}}
                            </div>
                            <div class="edit-value-holder " ng-show="isShowEditPostal && !selectedUser==EMPTY">
                                <input type="text" class="form-control textbox-menu" ng-model="selectedUser.Postal" />
                            </div>

                            <div class="edit-link-holder">
                                <a class="btn-edit-link" href="#" ng-click="updateUserInfo(isShowEditPostal, selectedUser, 'postal', selectedUser.Postal); isShowEditPostal=false">Change</a>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group-margin">
                        <div class="row editable-field">
                            <div class="edit-value-holder" ng-show="!isShowEditCity || selectedUser==EMPTY" ng-click="selectedUser===EMPTY ? isShowEditCity = false : isShowEditCity=true;">
                                {{selectedUser === EMPTY ? "&#60;City&#62;" : selectedUser.City}}
                            </div>
                            <div class="edit-value-holder " ng-show="isShowEditCity && !selectedUser==EMPTY">
                                <input type="text" class="form-control textbox-menu" ng-model="selectedUser.City" />
                            </div>

                            <div class="edit-link-holder">
                                <a class="btn-edit-link" href="#" ng-click="updateUserInfo(isShowEditCity, selectedUser, 'city', selectedUser.City); isShowEditCity=false">Change</a>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group-margin">
                        <div class="row editable-field">
                            <div class="edit-value-holder" ng-show="!isShowEditCountry || selectedUser==EMPTY" ng-click="selectedUser===EMPTY ? isShowEditCountry = false : isShowEditCountry=true;">
                                {{selectedUser === EMPTY ? "&#60;Country&#62;" : selectedUser.Country}}
                            </div>
                            <div class="edit-value-holder " ng-show="isShowEditCountry && !selectedUser==EMPTY">
                                <input type="text" class="form-control textbox-menu" ng-model="selectedUser.Country" />
                            </div>

                            <div class="edit-link-holder">
                                <a class="btn-edit-link" href="#" ng-click="updateUserInfo(isShowEditCountry, selectedUser, 'country', selectedUser.Country); isShowEditCountry=false">Change</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row form-group-margin">

                    <div class="left">
                        <div class="form-group">
                            <label for="isProduction" style="font-size: medium" ng-class="{checked: selectedUser.IsProducer == true}">
                                Production
                                <input class="pointer" name="roleRadio" ng-model="selectedUser.IsProducer" value="true" type="radio">
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="isCustomer" style="font-size: medium">Customer</label>
                            <input class="pointer" name="roleRadio" ng-class="{checked: selectedUser.IsCustomer}" type="radio" readonly="readonly">
                        </div>
                        <div class="form-group">
                            <label for="isAdmin" style="font-size: medium">Admin</label>
                            <input class="pointer" name="roleRadio" ng-class="{checked: selectedUser.IsAdmin}" type="radio" readonly="readonly">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>