@model Formeo.Models.LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<div class="container">
    <section id="loginForm">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
            {
            @Html.AntiForgeryToken()
            <div class="row" style="background-color:#34495E;margin:-25px -25px 30px -25px">
                <div class="container">
                    <h5 class="form-signin-heading" style="color:white; font-size:1.1em">Login</h5>
                </div>
            </div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <label for="Email" class="sr-only">Email address</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control login-textbox", @placeholder = "Email", @required = "", @autofocus = "" })
                <label for="Password" class="sr-only">Password</label>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control login-textbox", @placeholder = "Password", @required = "" })
                <button class="btn btn-primary btn-block btn-upload-product" type="submit">Login <i class="fa fa-caret-right" style="color:white"></i></button>
        }
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}